# Database
POSTGRES_DB=expense_tracker
POSTGRES_USER=expense_user
POSTGRES_PASSWORD=pass123
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Redis
REDIS_HOST=cache
REDIS_PORT=6379
REDIS_DB=0

# Application
APP_ENV=development
DEBUG=false
SECRET_KEY=CHANGE_ME_TO_RANDOM_STRING
PORT=8000

# pgAdmin
PGADMIN_EMAIL=admin@yourdomain.com
PGADMIN_PASSWORD=pass123